<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="4bTbaLB2q_z3v8-iUBwskiRH4UKmUl87XOu8MSOtV8o">
  <meta name="naver-site-verification" content="6f63212c134b283e78510c2be59825a04ed95b49">
  <meta name="description" content="[:r]개발자 요모조모 일상 개발부터 취미 개발까지 잡다한 개발을 기록!">
  
  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
  <link rel="stylesheet" href="{{ 'assets/styles.css' | relative_url }}">
  <link href="{{ 'assets/favicon/favicon.ico' | relative_url }}" rel="shortcut icon" type="image/vnd.microsoft.icon">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/favicon/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/favicon/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/favicon/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ 'assets/favicon/site.webmanifest' | relative_url }}">
  
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
  <script src="{{ 'assets/js/default.js' | relative_url }}" type="text/javascript"></script>
  <script src="{{ 'assets/js/header.js' | relative_url }}" type="text/javascript"></script>
  <script src="{{ 'assets/js/sidebar_left.js' | relative_url }}" type="text/javascript"></script>

  {%- seo -%}


  {%- include custom-head.html -%}
</head>
