<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="4bTbaLB2q_z3v8-iUBwskiRH4UKmUl87XOu8MSOtV8o">
  <meta name="naver-site-verification" content="6f63212c134b283e78510c2be59825a04ed95b49">
  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
  <link rel="stylesheet" href="{{ 'assets/styles.css' | relative_url }}">

  {%- seo -%}
  {%- feed_meta -%}

  {%- include custom-head.html -%}
</head>
