<script src="{{ 'assets/js/sidebar_left.js' | relative_url }}" type="text/javascript"></script>

<header class="masthead " id="sidebar-left">
  <div class="info">
    <div class="masthead-tagline">
      <small>{{ site.introduce }}</small>
    </div>
    {% if site.data.social -%}
    <div class="social pure-menu pure-menu-horizontal">
      <ul class="social-icons pure-menu-list">
        {% for social in site.data.social -%}
        <li class="pure-menu-item">
          <a class="social-icon pure-menu-link" href="{{ social.url }}">
            <i class="{{ social.icon | default: 'fas fa-link' }}" title="{{ social.title }}"></i>
          </a>
        </li>
        {%- endfor %}
      </ul>
    </div>
    {%- endif %}
  </div>
  {% if site.data.dropdown -%}
  {% assign index = 0 %}
  {% for dropdown in site.data.dropdown -%}
  <div class="masthead-dropdown">
    <p class="sidebar-left-dropdown" name="{{ dropdown.title }}" state=0 onclick="OnClickDropdown(this, {{ index }})">  {{ dropdown.title }} &#x1F53D</p>
    {% assign title = dropdown.title %}
    {% case title %}
    {% when "E-mail" %}
    <div class="masthead-email dropdown-item" id="dropdown-item-{{index}}">
      {{ site.author.email }}
    </div>
    {% when "Category" %}
    <div class="sidebar-category dropdown-item pure-u-1 pure-u-md-1-6" id="dropdown-item-{{index}}">
      {%- include sidebar-category.html -%}
    </div>
    {% else %}
    정의 되지 않은 값 입니다.
    {% endcase%}
  </div>
  {% assign index = index | plus:1 %}
  {%- endfor %}
  {%- endif %}
</header>

  
