<script src="{{ 'assets/js/sidebar_left.js' | relative_url }}" type="text/javascript"></script>

<header class="masthead " id="sidebar-left">
  {% if site.avatar -%}
  {%- if site.avatar contains "://" -%}
  {%- assign avatar = site.avatar -%}
  {%- else -%}
  {%- assign avatar = site.avatar | relative_url -%}
  {%- endif -%}
  <img src="{{ avatar }}" class="avatar-image" alt="{{ site.author.name }}">
  {%- endif %}
  <div class="info">
    <div class="masthead-tagline">
      <small>{{ site.introduce }}</small>
    </div>
    {% if site.data.social -%}
    <div class="social pure-menu pure-menu-horizontal">
      <ul class="social-icons pure-menu-list">
        {% for social in site.data.social -%}
        <li class="pure-menu-item">
          <a class="social-icon pure-menu-link" href="{{ social.url }}">
            <i class="{{ social.icon | default: 'fas fa-link' }}" title="{{ social.title }}"></i>
          </a>
        </li>
        {%- endfor %}
      </ul>
    </div>
    {%- endif %}
  </div>
  <div class="masthead-email">
    <small>{{ site.author.email }}</small>
  </div>
  {% if site.data.category -%}
  <header class="category pure-menu category-scroll">
    {% for category in site.data.category -%}
    <div class="category-icons">
      {{category.title}}
      <div class="pure-menu-item">
        <a class="category-icon pure-menu-link" href="{{ category.url }}">
          ┖ {{category.title}}
        </a>
      </div>
    </div>
    {%- endfor %}
  </header>
  {%- endif %}
</header>
  
