<script src="{{ 'assets/js/sidebar_left.js' | relative_url }}" type="text/javascript"></script>

{% if site.data.category -%}
  <div class="category pure-menu category-scroll">
    {% for category in site.data.category -%}
    <div class="category-icons">
      {{category.title}}
      {% for child in category.child -%}
      <div class="pure-menu-item">
        <button class="category-icon" onclick="OnClickCategory({{ child.name }})">
          {{ child.name }}
        </button>
      </div>
      {%- endfor %}
    </div>
    {%- endfor %}
  </div>
{%- endif %}