<script src="{{ 'assets/js/sidebar_left.js' | relative_url }}" type="text/javascript"></script>

{% if site.data.category -%}
  <div class="category pure-menu category-scroll">
    {% for category in site.data.category -%}
    <div >
      <button class="category-icons" href="{{category.url}}">
      {{category.title}}
    </button>
      {% for child in category.child -%}
      <div class="pure-menu-item">
        <a class="category-icon" href="{{child.url}}">
          {{ child.title }}
        </a>
      </div>
      {%- endfor %}
    </div>
    {%- endfor %}
  </div>
{%- endif %}