<script src="{{ 'assets/js/sidebar_left.js' | relative_url }}" type="text/javascript"></script>

<header class="masthead " id="sidebar-left">
  <div class="info">
    <div class="masthead-tagline">
      <small>{{ site.introduce }}</small>
    </div>
    {% if site.data.social -%}
    <div class="social pure-menu pure-menu-horizontal">
      <ul class="social-icons pure-menu-list">
        {% for social in site.data.social -%}
        <li class="pure-menu-item">
          <a class="social-icon pure-menu-link" href="{{ social.url }}">
            <i class="{{ social.icon | default: 'fas fa-link' }}" title="{{ social.title }}"></i>
          </a>
        </li>
        {%- endfor %}
      </ul>
    </div>
    {%- endif %}
  </div>
  <div class="masthead-email">
    E-Mail
    <div>
      {{ site.author.email }}
    </div>
  </div>
  <div class="sidebar-category pure-u-1 pure-u-md-1-6" id ="sidebar-category" >
    {%- include sidebar-category.html -%}
  </div >
</header>

  
