// Font
//
// Setting Font

@font-face {
    font-family: 'Soft-Bold';
    src: url('../assets/fonts/DalseoHealingBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Soft';
    src: url('../assets/fonts/DalseoHealingMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'Hard-Bold';
    src: url('../assets/fonts/Pretendard-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Hard';
    src: url('../assets/fonts/Pretendard-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Hard-Medium';
    src: url('../assets/fonts/Pretendard-Medium.ttf') format('truetype');
}