// Font
//
// Setting Font

@font-face {
    font-family: 'Post-Bold';
    src: url('../assets/fonts/DalseoHealingBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Post';
    src: url('../assets/fonts/DalseoHealingMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'Title-Bold';
    src: url('../assets/fonts/Pretendard-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Title';
    src: url('../assets/fonts/Pretendard-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Title-Medium';
    src: url('../assets/fonts/Pretendard-Medium.ttf') format('truetype');
}