// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  padding: 0;
  margin: 0;
}

.header {
  position: relative;
  font-family: 'Title-Bold';
  padding-left: 1px;
  margin-left:  auto;
  margin-right: auto;
  height: 160px;
  border: solid rgba($color: #08007e, $alpha: 1.0);
}

.content {
  position: relative;
  padding-top: var(--spacer-2);
  padding-left: var(--spacer-2);
  padding-right: var(--spacer-2);
  margin-left:  auto;
  margin-right: auto;
  min-height: 100vh;
}

.sidebar-left {
  display: flex;
  padding-top: var(--spacer);
  background: center / cover;
  height: 160px;
}

.sidebar-category {
  display: flex;
  padding-top: var(--spacer-2);
  flex-grow: 1;
  background: center / cover;
  border: solid rgba($color: #08007e, $alpha: 1.0);
}

.sidebar-right {
  position: sticky;
  border: solid rgba($color: #08007e, $alpha: 1.0);
  top: 50px;
  height: 160px;
}

footer {
  position: absolute;
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer);
  bottom: 0;
}

@media (min-width: $md-width) {
  .content {
    padding-top: var(--spacer-3);
    padding-left: var(--spacer-3);
    padding-right: var(--spacer-3);
    margin-left: 16.6667%;
  }

  .sidebar-left {
    position: fixed;
    top: 0;
    bottom: 0;
  }

  .sidebar-category {
    position: fixed;
    top: 160px;
    bottom: 0;
  }

  .header{
    margin-left: 16.6667%;
  }
}

@media (min-width: $lg-width) {
  .sidebar-right {
    display: block;
  }
}

@media (max-width: $lg-width) {
  .sidebar-right {
    display: none;
  }

  .header{
    display: none;
  }

  .sidebar-category{
    display: none;
  }
}

@media (max-width: $md-width) {
  .content {
    width: 100%;
  }

  .header{
    width: 100%;
  }
}

@media (min-width: $md-width) and (max-width: $lg-width) {
  .content {
    width: 75%;
  }

  .header{
    width: 75%;
  }
}
