// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  padding: 0;
  margin: 0;
}

.header {
  position: relative;
  font-family: var(--text-title-bold);
  padding-left: var(--spacer);
  padding-right: var(--spacer-2);
  margin-left:  auto;
  margin-right: auto;
  height: calc(var(--spacer-3) * 1.7);
  width: 60%;
  border-bottom: 2px solid var(--body-color);
  box-sizing: content-box;
}

.content {
  position: relative;
  padding-top: var(--spacer);
  padding-left: var(--spacer);
  padding-right: var(--spacer);
  margin-left:  auto;
  margin-right: auto;
  min-height: 100vh;
  width: 60%;
}

.sidebar-left {
  position: absolute;
}

.sidebar-category {
  width: 100%;
  max-height: 50vh;
  padding-right: 2%;
  margin-bottom: auto;
}

.sidebar-right {
  position: absolute;
  right: 0px;
}

footer {
  position: absolute;
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer);
  bottom: 0;
}

@media (min-width: $md-width) {
  .content {
    padding-top: var(--spacer);
    padding-left: var(--spacer);
    padding-right: var(--spacer-3);
    margin-left: 16.6667%;
    margin-right: 20%;
  }

  .header{
    margin-left: 16.6667%;
    margin-right: 25%;
  }
}

@media (min-width: $lg-width) {
}

@media (max-width: $lg-width) {
  
}

@media (max-width: $md-width) {
  .content {
    width: 100%;
  }

  .header{
    width: 100%;
  }

  .sidebar-right {
    display: none;
  }

  .sidebar-left {
    display: none;
  }

  .sidebar-category{
    display: none;
  }
}

@media (min-width: $md-width) and (max-width: $lg-width) {
  
}
