// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  padding: 0;
  margin: 0;
}

.header {
  position: relative;
  font-family: 'Title-Bold';
  padding-left: var(--spacer-2);
  padding-right: 5px;
  margin-left:  auto;
  margin-right: auto;
  height: 80px;
  width: 60%;
}

.content {
  position: relative;
  padding-top: var(--spacer-2);
  padding-left: var(--spacer-2);
  padding-right: var(--spacer-2);
  margin-left:  auto;
  margin-right: auto;
  border-top: solid rgba($color: #08007e, $alpha: 1.0);
  border-left: solid rgba($color: #08007e, $alpha: 1.0);
  min-height: 100vh;
  width: 60%;
}

.sidebar-left {
  position: absolute;
  padding-top: var(--spacer);
  margin-bottom: auto;
  background: center / cover;
  height: 100vh;
}

.sidebar-category {
  width: 100%;
  max-height: 50vh;
  padding-right: 2%;
  margin-bottom: auto;
}

.sidebar-right {
  display: none;
  position: sticky;
  border: solid rgba($color: #08007e, $alpha: 1.0);
  top: 50px;
  max-height: 160px;
}

footer {
  position: absolute;
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer);
  bottom: 0;
}

@media (min-width: $md-width) {
  .content {
    padding-top: var(--spacer-3);
    padding-left: var(--spacer-3);
    padding-right: var(--spacer-3);
    margin-left: 16.6667%;
  }

  .header{
    margin-left: 16.6667%;
  }
}

@media (min-width: $lg-width) {
}

@media (max-width: $lg-width) {
  
}

@media (max-width: $md-width) {
  .content {
    width: 100%;
  }

  .header{
    width: 100%;
  }

  .sidebar-right {
    display: none;
  }

  .sidebar-left {
    display: none;
  }

  .sidebar-category{
    display: none;
  }
}

@media (min-width: $md-width) and (max-width: $lg-width) {
  

  .sidebar-right {
    display: none;
  }
}
