// Messages
//
// Show alert messages to users. You may add it to single elements like a `<p>`,
// or to a parent if there are multiple elements to show.

.message {
  padding: var(--spacer);
  margin-bottom: var(--spacer);
  color: var(--gray-900);
  background-color: var(--yellow-100);
  border-radius: var(--border-radius);
}

.copy-message {
  position:absolute;
  left:5px;
  padding: calc(var(--spacer) * 0.5);
  margin:0px;
  color: var(--gray-900);
  background-color: var(--yellow-100);
  border-radius: var(--border-radius);
  font-family: var(--text-hard-bold);
  font-size: 0.9rem;
  color: var(--gray-600);
  text-align: center;
  vertical-align:middle;
  width: 160px;
  height: 40px;
}
