// Sidebar
//
// Styles for the sidebar.

.masthead {
  position: sticky;
  top:calc(var(--spacer-3) * 2.5);
  letter-spacing: 0;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.avatar-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  
}

.masthead-title {
  padding: 0;
  margin: 0;
  font-size: 2rem;
  font-weight: 900;
  font-family: var(--text-hard-bold);
  a:hover,
  a:focus {
    color: var(--link-hover-color);
  }
}

.masthead-tagline {
  padding: 0;
  margin: 0;
  font-size: 2.25rem;
  font-weight: 400;
  font-family: var(--text-soft-bold);
  opacity: .85;
  color:var(--blue);
}

.masthead-dropdown{
  padding-left: var(--spacer);
  margin-bottom: 1vh;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: var(--text-hard);
}

.masthead-email {
  margin: 0;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 400;
  word-break: break-all;
  padding-right: var(--spacer);
}


.navigation-list {
  margin-top: var(--spacer-2);
  padding: 0;
  list-style: none;
}

.navigation-item {
  display: block;
  margin-bottom: var(--spacer);
}

.navigation-item a {
  background: transparent;
  color: inherit;
  letter-spacing: 0.05em;
  font-size: 110%;
  border-bottom: 2px solid;
  border-color: inherit;
  font-family: 'Title';
  &:hover,
  &:focus {
    color: var(--link-hover-color);
  }
}

.social {
  display: inline;
  margin-top: 0px;
  font-size: 150%;
  white-space: normal;
  line-height: .5;
}

.social-icon {
  width: 30%;
  height: 30%;
  padding: var(--spacer);
  &:hover,
  &:focus {
    color: var(--link-hover-color);
    background-color: transparent;
  }
}

.category {
  padding-bottom: var(--spacer);
  width: 100%;
  height: 100%;
  overflow-y: auto;
  font-family: 'Title';
}


.category-scroll::-webkit-scrollbar{
  background-color: var(--teal);
  width: 5px;
  height: 8px;
}

.category-icons {
  text-align: left;
  font-size : 1.6vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  
  a {
    color: inherit;
    text-decoration: none;
  }
}

.category-icon {
  text-align: left;
  font-size : 1.5vw;
  margin-top: 10px;
  width: 100%;
  padding-left: var(--spacer) ;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.sidebar-left-dropdown{
  margin: 0%;
  padding: 0%;
  display:inline;
}

.sidebar-left-outline{
  margin: 0;
  padding: 0;
}

.dropdown-item {
  display: none;
}


@media (min-width: $md-width) {
  .category {
    height: 100%;
  }
}
